<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/css/basic.css">
	<title>World Records</title>
</head>
<body>
	<div id="page_title">
		<h1>WORLD RECORDS</h1>
	</div>
	<div id="nav_bar">
		<a href="http://flip3.engr.oregonstate.edu:7755" class="nav_text">Home</a>
		<a href="http://flip3.engr.oregonstate.edu:7755/products" class="nav_text">All Products</a>
		<a href="http://flip3.engr.oregonstate.edu:7755/customers" class="nav_text">Customers</a>
		<a href="http://flip3.engr.oregonstate.edu:7755/customers_salesorders" class="nav_text">Open Sales Orders</a>
		<a href="http://flip3.engr.oregonstate.edu:7755/sales_orders" class="nav_text">Sales Orders</a>
		<a href="http://flip3.engr.oregonstate.edu:7755/vendors" class="nav_text">Vendors</a>
		<a href="http://flip3.engr.oregonstate.edu:7755/purchase_orders" class="nav_text">Purchase Orders</a>
		<a href="http://flip3.engr.oregonstate.edu:7755/purchase_orders_products" class="nav_text">Business Records</a>
	</div>
	{{{body}}}
</body>
</html>