<h3>Customers JOIN with SalesOrders</h3>

<div>
    <table>
        <thead>
            <tr id="head">
                <th>Customer ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Number of Sales Orders</th>
            </tr>
        </thead>
        <tbody>
          {{#each results}}
            <tr>
                <td>{{this.cid}}</td>
                <td>{{this.f_name}}</td>
                <td>{{this.l_name}}</td>
                <td>{{this.sales_num}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>