<h3>Insert Data Into "Customers"</h3>
<form action="flip3.engr.oregonstate.edu:7755/customers_insert" method="GET">
    <label for="f_name">First Name: </label>
    <input type="text" id="f_name"><br>
    <label for="l_name">Last Name: </label>
    <input type="text" id="l_name"><br>
    <label for="email">Email: </label>
    <input type="text" id="email"><br>
    <input type="submit" id="customers">
</form>

<div>
    <table>
        <thead>
            <tr id="head">
                <th>Customer ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="table">
          {{#each results}}
                <tr>
                    <td>{{this.cid}}</td>
                    <td><form><input type="text" value="{{this.f_name}}"></form></td>
                    <td><form><input type="text" value="{{this.l_name}}"></form></td>
                    <td><form><input type="text" value="{{this.email}}"></form></td>
                    <td><button type="button" class="update_button">Update</button></td>
                    <td><button type="button" class="delete_button">Delete</button></td>
                </tr>
            </form>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- The script is pulled from public/js/products_ajax.js 
WR-Server-Side.js (line 14) specifies that all source files are pulled from public folder.--}}
<script src="js/customers_ajax.js"></script>