<h3>Insert Data Into "Customers"</h3>
<form action="flip3.engr.oregonstate.edu:7754/customers_insert" method="GET">
    <label for="f_name">First Name: </label>
    <input type="text" id="f_name">
    <label for="l_name">Last Name: </label>
    <input type="text" id="l_name">
    <label for="email">Email: </label>
    <input type="text" id="email">
    <input type="submit" id="customers">
</form>
