<h1>The Store</h1>
<form action="flip3.engr.oregonstate.edu:7753/search" method="GET">
    <input type="text" name="terms" id="terms">
    <input type="submit" id="search" value="Search">
</form>


<a href="http://flip3.engr.oregonstate.edu:7753/cart"><button id="cart">CART</button></a>

{{!-- The script is pulled from public/js/home_ajax.js 
WR-Server-Side.js (line 14) specifies that all source files are pulled from public folder.--}}
<script src="js/home_ajax.js"></script>
