<h3>Insert Data Into "Products"</h3>
<form action="flip3.engr.oregonstate.edu:7754/products_insert" method="GET">
    <label for="vid">Vendor ID: </label>
    <input type="text" id="vid">
    <label for="title">Album Title: </label>
    <input type="text" id="title">
    <label for="artist">Artist: </label>
    <input type="text" id="artist">
    <label for="genre">Genre: </label>
    <input type="text" id="genre">
    <label for="year">Year: </label>
    <input type="text" id="year">
    <label for="stock">Stock: </label>
    <input type="text" id="stock">
    <label for="price">Price: </label>
    <input type="text" id="price">
    <label for="link">Link: </label>
    <input type="text" id="link">
    <input type="submit" id="products">
</form>
