<h3>Insert Data Into "Purchase Orders"</h3>
<form action="flip3.engr.oregonstate.edu:7754/purchase_orders_insert" method="GET">
    <label for="vid">Vendor ID: </label>
    <input type="text" id="vid">
    <label for="date">Date: </label>
    <input type="date" id="date">
    <label for="cost">Cost: </label>
    <input type="cost" id="cost">
    <input type="submit" id="purchase_orders">
</form>