<h3>Business Receipts - Purchases from Vendors</h3>
<div>
    <table>
        <thead>
            <tr id="head1">
                <th>Vendor ID</th>
                <th>Date</th>
                <th>Cost</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each results}}
            <tr>
                <td>{{this.vid}}</td>
                <td>{{this.date}}</td>
                <td>{{this.cost}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
