<h3>Business Receipts - Purchases from Vendors</h3>
<p>Business use only.
    This table keeps track of the cost of purchases from vendors made by the business.
    To insert into this table, navigate to business records and insert there. Data will be inserted into both tables.
</p>
<div>
    <table>
        <thead>
            <tr id="head1">
                <th>Vendor ID</th>
                <th>Date</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            {{#each results}}
            <tr>
                <td>{{this.vid}}</td>
                <td>{{this.date}}</td>
                <td>{{this.cost}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
