<p>Insert into this table by navigating to home, searching for a product, then adding that product to cart.
    Note: separate sales made by a single customer each on the same day are considered to be a single sale.
</p>
<div>
    <table>
        <thead>
            <tr id="head">
                <th>Customer ID</th>
                <th>Date</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            {{#each results}}
            <tr>
                <td>{{this.cid}}</td>
                <td>{{this.date}}</td>
                <td>{{this.cost}}</td>
            </tr>
            {{/each}}
        </tbody>

    </table>
</div>