<p>Insert into this table by navigating to home, searching for a product, then adding that product to cart.</p>
<div>
    <table>
        <thead>
            <tr id="head">
                <th>Customer ID</th>
                <th>Date</th>
                <th>Cost</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each results}}
            <tr>
                <td>{{this.cid}}</td>
                <td>{{this.date}}</td>
                <td>{{this.cost}}</td>
            </tr>
            {{/each}}
        </tbody>

    </table>
</div>