<h3>Insert Data Into "Vendors"</h3>
<form action="flip3.engr.oregonstate.edu:7754/sales_orders_insert" method="GET">
    <label for="cid">Customer ID: </label>
    <input type="text" id="cid">
    <label for="date">Date: </label>
    <input type="date" id="date">
    <label for="cost">Cost: </label>
    <input type="text" id="cost">
    <input type="submit" id="sales_orders">
</form>
