<h3>Insert Data Into "Vendors"</h3>
<form action="flip3.engr.oregonstate.edu:7754/vendors_insert" method="GET">
    <label for="company">Company Name: </label>
    <input type="text" id="company">
    <label for="email">Email: </label>
    <input type="text" id="email">
    <label for="phone">Phone Number: </label>
    <input type="text" id="phone">
    <input type="submit" id="vendors">
</form>

{{!-- The script is pulled from public/js/vendors_ajax.js 
WR-Server-Side.js (line 14) specifies that all source files are pulled from public folder.--}}
<script src="js/vendors_ajax.js"></script>
